<a href="https://colab.research.google.com/github/lucilesepa/training_python/blob/main/home_ex1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**The home exercises will be a bit different: the theory will be given in one single block, and the exercises will mix up all the known concepts.**

# Basic variable type: boolean

Booleans can take the value True or False. Actually they are not really variables. They are a data type which a condition.  You have already implicitly used booleans. 

You see in this example that the condition a>b is, like all the conditions, a boolean:

In [ ]:
a=13
b=1
print(type(a>b))
print(a>b)

<class 'bool'>
True

There are many ways to use booleans, but the most common way in data analysis is to use it with if statement, to test whether a condition is fulfilled.

In [ ]:
if a>b:
  print('the boolean a>b is true')

the boolean a>b is true

# Tuples and dictionnaries

## Tuples

Tuples are one of the 4 built-in data types in Python: 
sets  which we will not cover as they are very rarely used in data analysis / GIS, dictionnaries, tuples and lists.

*Note:* 
*   Pandas dataframes are not built-in: they require the use of the package Pandas

In practice in data analysis /  GIS they are rarely used, but many python functions outputs are tuples.

e.g:

In [ ]:
import numpy as np
a=[[1,2,3],[9,1,4]]
b=np.array(a)
s = b.shape
print('the output from .shape is a ',type(s))

the output from .shape is a  <class 'tuple'>

They are indexed with the regular use of []

e.g to use the number of rows of an array:

In [ ]:
print('there are ',s[1],' rows in b')

there are  3  rows in b

## Dictionaries

They are stored to store paired values.

e.g:

In [ ]:
dict = {
  "name": "Glasgow",
  "population": 635640,
  "N": 55.85781,
  "E": -4.24253
}
print(dict)

{'name': 'Glasgow', 'population': 635640, 'N': 55.85781, 'E': -4.24253}

A dictionary cannot really be indexed. Instead, they are accessed as such:

In [ ]:
dict['name']

'Glasgow'

In my experience they are rarely used.

# A few more conversions

During the session, we have seens the conversions between numpy arrays, pandas dataframes, and lists. Similarily, you can convert floats, integers, strings:

In [ ]:
a = 2
b=6.3
c='4'
print('a=',a)
print('b=',b)
print('c=',c)
print('str(a)=',str(2))
print('int(b)=',int(b))
print('float(c)=',float(c))

a= 2
b= 6.3
c= 4
str(a)= 2
int(b)= 6
float(c)= 4.0

*Note*: 
*   You can see that converting a number to an integer will truncate the decimals
*   Obviously converting e.g. `m='some string'` to a float will return an error

# A few more commands

## Add elements to the end of a dataset 

Typically used in for loops to populate an empty pre-defined dataset.

### Add to a list

The formal structure is:
```
mylist.append(new_value)
```
e.g. stores into a new list c the list a to which a list b is added in the end

In [7]:
a=[2,4,7]
b=[7,8,9]
c=[]
for i in range(len(a)):
  c.append(a[i]+b[i])
print(c)

[2, 4, 7, [7, 8, 9]]

*Note:* in the example above, the operation should actually be vectorized. The non vectorized version is only to demonstrate the .append() command

### Add to a pandas dataframe

There are many ways to add values to a pandas dataframe: choosing one will depend on the specifics of the situation. 

Two examples are [here](https://stackoverflow.com/questions/24284342/insert-a-row-to-pandas-dataframe#:~:text=It%20is%20pretty%20simple%20to%20add%20a%20row,instances%3B%20Add%20ignore_index%3DTrue%20right%20after%20your%20dictionary%20name.), where a concatenation `pd.concat([df2, df])` and the use of `df.loc[-1]` give the desired result.

### Add to a numpy array

There are many ways to add values to a numpy array: like for the pandas dataframe, choosing one will depend on the specifics of the situation. Concatenation is an option, as is converting the array to a list, and using the .append() command in certain cases.

## NaN, try

## Find an element / the index of an element in a dataset


### Find an element  / the index of an element in a list

Finding the index of a value value_to_find in a list is easy:
General code to find the index of an element in a list:
```
mylist.index(value_to_find)
```

*Note*: the code returns an error if the value value_to_find isn't in mylist. 

e.g. find the index of the values 4 and 5 in a list. if the value doesn't exist, fills the variable with NaN

In [37]:
a=[1,2,4,9,10]

try:
  a.index(4)
except ValueError:
  b=float("nan")
else:
  b=a.index(4)

try:
  a.index(5)
except ValueError:
  c=float("nan")
else:
  c=a.index(5)

print(b)
print(c)

2
nan

### Find an element  / the index of an element in a Pandas dataframe

Find an element in a pandas dataframe is easy:  there is a built-in function:
```
df.query(expression)
```
with `expression` being very similar in syntax to a SQL query.

e.g.

In [49]:
import pandas as pd
df=pd.DataFrame({'letters':['a','b','c'],'numbers1':[10,20,30],'numbers2':[0,5,10]})
print(df)
df.query('letters == "a"')
df.query('numbers1 == 10')

  letters  numbers1  numbers2
0       a        10         0
1       b        20         5
2       c        30        10

  letters  numbers1  numbers2
0       a        10         0

However finding its position (index) is more difficult. For now you can convert the pandas dataframe to a list to find the index of an element.

e.g.

In [54]:
l = list(df.values)
l.index(10)

ValueError: ignored

## Other

find how to use `df.add()`, `arr.append()`,`df.append()` where `df` is a pandas dataframe, and `arr` a numpy array

df.values


.iloc()

# Vectorization

Vectorization is an important concept that is defined as replacing a for loop and applying the operation of interest on the vector as opposed to applying it on each element of the vector.

e.g. a non vectorized addition of 3 to the elements of a vector a and storage of the result in b:

In [ ]:
a=[1,4,6]
b=[]
for i in a:
  b.append(i+3)
print(b)

[4, 7, 9]

Vectorized expression:

In [ ]:
import numpy as np
c=np.array(a)+3
print(c)
type(c)

[4 7 9]

numpy.ndarray

*Note: b and c are not of the same type. Conversion would be needed to make b and c equal*

For loops are very labor-intensive for the computer. Vectorization should always be prefered where possible.