<a href="https://colab.research.google.com/github/lucilesepa/training_python/blob/main/home_ex1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**The home exercises will be a bit different: the theory will be given in one single block, and the exercises will mix up all the known concepts.**

# Basic variable type: boolean

Booleans can take the value True or False. Actually they are not really variables. They are a data type which a condition.  You have already implicitly used booleans. 

You see in this example that the condition a>b is, like all the conditions, a boolean:

In [4]:
a=13
b=1
print(type(a>b))
print(a>b)

<class 'bool'>
True

There are many ways to use booleans, but the most common way in data analysis is to use it with if statement, to test whether a condition is fulfilled.

In [11]:
if a>b:
  print('the boolean a>b is true')

the boolean a>b is true

# Tuples and dictionnaries

## Tuples

Tuples are one of the 4 built-in data types in Python: 
sets  which we will not cover as they are very rarely used in data analysis / GIS, dictionnaries, tuples and lists.

*Note:* 
*   Pandas dataframes are not built-in: they require the use of the package Pandas

In practice in data analysis /  GIS they are rarely used, but many python functions outputs are tuples.

e.g:

In [15]:
import numpy as np
a=[[1,2,3],[9,1,4]]
b=np.array(a)
s = b.shape
print('the output from .shape is a ',type(s))

the output from .shape is a  <class 'tuple'>

They are indexed with the regular use of []

e.g to use the number of rows of an array:

In [18]:
print('there are ',s[1],' rows in b')

there are  3  rows in b

## Dictionaries

They are stored to store paired values.

e.g:

In [23]:
dict = {
  "name": "Glasgow",
  "population": 635640,
  "N": 55.85781,
  "E": -4.24253
}
print(dict)

{'name': 'Glasgow', 'population': 635640, 'N': 55.85781, 'E': -4.24253}

A dictionary cannot really be indexed. Instead, they are accessed as such:

In [31]:
dict['name']

'Glasgow'

In my experience they are rarely used.

# A few more conversions

During the session, we have seens the conversions between numpy arrays, pandas dataframes, and lists. Similarily, you can convert floats, integers, strings:

In [41]:
a = 2
b=6.3
c='4'
print('a=',a)
print('b=',b)
print('c=',c)
print('str(a)=',str(2))
print('int(b)=',int(b))
print('float(c)=',float(c))

a= 2
b= 6.3
c= 4
str(a)= 2
int(b)= 6
float(c)= 4.0

*Note*: 
*   You can see that converting a number to an integer will truncate the decimals
*   Obviously converting e.g. `m='some string'` to a float will return an error

# A few more commands

## Add elements to the end of a dataset .append()

Typically used in for loops to populate an empty pre-defined dataset. The formal structure is:
```
dataset.append(new_value)
```

e.g. stores into c the results of an addition between a and b

In [68]:
import pandas as pd
a=pd.DataFrame([2,4,7])
b=pd.DataFrame([7,8,9])
c=pd.DataFrame([])
for i in range(len(a)):
  c[i]=a[i]+b[i]

Empty DataFrame
Columns: []
Index: []
a[ 0 ]= 0    2
1    4
2    7
Name: 0, dtype: int64

KeyError: ignored

## .iloc()

## Other

find how to use `df.add()`, `arr.append()`,`df.append()` where `df` is a pandas dataframe, and `arr` a numpy array

# Vectorization

Vectorization is an important concept that is defined as replacing a for loop and applying the operation of interest on the vector as opposed to applying it on each element of the vector.

e.g. a non vectorized addition of 3 to the elements of a vector a and storage of the result in b:

In [51]:
a=[1,4,6]
b=[]
for i in a:
  b.append(i+3)
print(b)

[4, 7, 9]

Vectorized expression:

In [52]:
import numpy as np
c=np.array(a)+3
print(c)
type(c)

[4 7 9]

numpy.ndarray

*Note: b and c are not of the same type. Conversion would be needed to make b and c equal*

For loops are very labor-intensive for the computer. Vectorization should always be prefered where possible.