<a href="https://colab.research.google.com/github/lucilesepa/training_python/blob/main/lists_numpyarrays_pandadataframes_2D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Define a dataset with headers

In [11]:
import pandas as pd # import pandas module
data_as_list = [['Perth',-3.434661,56.395336], ['Edinburgh', -3.20277, 55.95415], ['Aberdeen', -2.10272, 57.14548],['Inverness',-4.224721,57.477772]]
print('data is',type(data_as_list))

data is <class 'list'>

Make it a dataframe. It is easier to vizualize and manipulate than a list

In [13]:
dfa = pd.DataFrame(data_as_list,columns=['Locations','E','N'])
print(dfa)
print(type(dfa))
print(dfa.shape,': dfa has ', dfa.shape[0],' rows and ', dfa.shape[1],' columns') # you can print a mix of integers and strings, and the call for the first and second values in shape

   Locations         E          N
0      Perth -3.434661  56.395336
1  Edinburgh -3.202770  55.954150
2   Aberdeen -2.102720  57.145480
3  Inverness -4.224721  57.477772
<class 'pandas.core.frame.DataFrame'>
(4, 3) : dfa has  4  rows and  3  columns