<a href="https://colab.research.google.com/github/lucilesepa/training_python/blob/main/lists_numpyarrays_pandadataframes_1D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lists

In [ ]:
aa =[1,3,5]
print(aa)
aat = type(aa)
print(aat)
print(type(aa))
len(aa) # length

[1, 3, 5]
<class 'list'>
<class 'list'>

3

In [ ]:
bb= [2,4,6]
aa-bb

TypeError: ignored

In [ ]:
aa[0]

1

In [ ]:
bb[0:2] # slicing (extracting a subset of a set)

[2, 4]

> Lists are useful to store any type of variable. 
Arithmetic does not apply to them

# Numpy array

Import the numpy module. one of the most useful modules. in the code, it will be referred to as "np". Could call it something else, "np" is standard.
aa=np.

In [ ]:
import numpy as np

In [ ]:
aa=np.array([4,3,5])
print(type(aa))
print(aa.shape) # shape of the array
print(len(aa)) # length of the array

<class 'numpy.ndarray'>
(3,)
3

In [ ]:
bb_list = [2,7,10]
bb=np.array(bb_list) # convert list into numpy array
cc=aa-bb # can do arithmetic operations
print(cc)

[ 2 -4 -5]

# Pandas DataFrames

In [48]:
import pandas as pd # import pandas module
dataset_as_dictionnary = {'Locations':['Perth', 'Edinburgh', 'Aberdeen', 'Inverness'], # note the braces
        'E':[-3.434661,-3.20277,-2.10272,-4.224721],'N':[56.395336,55.95415,57.14548,57.477772]}
print(dataset_as_dictionnary)
print(type(dataset_as_dictionnary))
print('_______________________________________________________________')
dfa = pd.DataFrame(dataset_as_list)
print(dfa)
print(type(dfa))
print(dfa.shape,': dfa has ', dfa.shape[0],' rows and ', dfa.shape[1],' columns') # note how to print a mix of integers and strings, and the call for the first and second values in shape

{'Locations': ['Perth', 'Edinburgh', 'Aberdeen', 'Inverness'], 'E': [-3.434661, -3.20277, -2.10272, -4.224721], 'N': [56.395336, 55.95415, 57.14548, 57.477772]}
<class 'dict'>
_______________________________________________________________
   locations         E          N
0      Perth -3.434661  56.395336
1  Edinburgh -3.202770  55.954150
2   Aberdeen -2.102720  57.145480
3  Inverness -4.224721  57.477772
<class 'pandas.core.frame.DataFrame'>
(4, 3) : dfa has  4  rows and  3  columns