<a href="https://colab.research.google.com/github/lucilesepa/training_python/blob/main/lists_numpyarrays_pandadataframes_1D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lists

In [ ]:
aa =[1,3,5]
print(aa)
aat = type(aa)
print(aat)
print(type(aa))
len(aa) # length

[1, 3, 5]
<class 'list'>
<class 'list'>

3

In [ ]:
bb= [2,4,6]
aa-bb

TypeError: ignored

In [ ]:
aa[0]

1

In [ ]:
bb[0:2] # slicing (extracting a subset of a set)

[2, 4]

> Lists are useful to store any type of variable. 
Arithmetic does not apply to them

# Numpy array

Import the numpy module. one of the most useful modules. in the code, it will be referred to as "np". Could call it something else, "np" is standard.
aa=np.

In [ ]:
import numpy as np

In [ ]:
aa=np.array([4,3,5])
print(type(aa))
print(aa.shape) # shape of the array
print(len(aa)) # length of the array

<class 'numpy.ndarray'>
(3,)
3

In [ ]:
bb_list = [2,7,10]
bb=np.array(bb_list) # convert list into numpy array
cc=aa-bb # can do arithmetic operations
print(cc)

[ 2 -4 -5]

# Pandas Series

## Create a series

In [67]:
import pandas as pd # import pandas module
dataset_as_dictionnary = {'Random numbers':[1,54,90,456,7,8]}
dfa = pd.DataFrame(dataset_as_dictionnary)
print(dfa)
print('__________________________________')
print(type(dfa))

   Random numbers
0               1
1              54
2              90
3             456
4               7
5               8
__________________________________
<class 'pandas.core.frame.DataFrame'>

## Extract data from series
(and make the values ready to use for arithmetic operations)

### Step 1. extract as pandas series

In [74]:
ab=dfa['Random numbers'][0:2] # extract =the first two elements of the dataframe
print(ab)
print(type(ab)) # they are still in the form of pandas data. We want only the numeric values

0     1
1    54
Name: Random numbers, dtype: int64
<class 'pandas.core.series.Series'>

### Step 2. Convert to numeric (numpy array)

In [75]:
bc = ab.values # .values is a command, it extracts only the values from a dataframe/dataseries
print(bc)
print(type(bc))
print('_________________________________________')
cd = dfa['Random numbers'][0:2].values # it can be done in 1 step
print(np.array_equal(bc,cd)) # will return TRUE if the two arrays bc and cd are equal

[ 1 54]
<class 'numpy.ndarray'>
_________________________________________
True

If the values in a pandas series are all numeric, we can do arithmetic operations

In [83]:
print(ab/3)

0     0.333333
1    18.000000
Name: Random numbers, dtype: float64