<a href="https://colab.research.google.com/github/lucilesepa/training_python/blob/main/lists_numpyarrays_pandadataframes_2D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Define a dataset with headers

In [2]:
data_as_list = [['Perth',-3.434661,56.395336], ['Edinburgh', -3.20277, 55.95415], ['Aberdeen', -2.10272, 57.14548],['Inverness',-4.224721,57.477772]]
print('data is of type ',type(data_as_list))

data is of type  <class 'list'>

Make it a dataframe. It is easier to vizualize and manipulate than a list

In [3]:
import pandas as pd # import pandas module
dfa = pd.DataFrame(data_as_list,columns=['Locations','E','N'])
print(dfa)
print(type(dfa))
print(dfa.shape,': dfa has ', dfa.shape[0],' rows and ', dfa.shape[1],' columns') # you can print a mix of integers and strings, and the call for the first and second values in shape

   Locations         E          N
0      Perth -3.434661  56.395336
1  Edinburgh -3.202770  55.954150
2   Aberdeen -2.102720  57.145480
3  Inverness -4.224721  57.477772
<class 'pandas.core.frame.DataFrame'>
(4, 3) : dfa has  4  rows and  3  columns

Indexing and slicing 2D dataframes

In [4]:
#based on the columns : note that the slicing EXCLUDES the last index entered in the slicing command
a=dfa['E'][0]
b=dfa['Locations'][2:]
c=dfa['Locations'][:1]
d=dfa['Locations'][2:3]
print('a=',a)
print('b=',b)
print('c=',c)
print('d=',d)

#based on the rows : note that the slicing INCLUDES the last index entered in the slicing command
e=dfa.loc[2:3]
print('e=',e)

a= -3.434661
b= 2     Aberdeen
3    Inverness
Name: Locations, dtype: object
c= 0    Perth
Name: Locations, dtype: object
d= 2    Aberdeen
Name: Locations, dtype: object
e=    Locations         E          N
2   Aberdeen -2.102720  57.145480
3  Inverness -4.224721  57.477772

Can convert to numpy array

In [5]:
dfa_array = dfa.to_numpy()
print(dfa_array)
print(dfa_array.shape)

[['Perth' -3.434661 56.395336]
 ['Edinburgh' -3.20277 55.95415]
 ['Aberdeen' -2.10272 57.14548]
 ['Inverness' -4.224721 57.477772]]
(4, 3)

Indexing and slicing 2D numpy arrays

In [8]:
aa=dfa_array[0,1]
bb=dfa_array[:2,1] #note that the slicing EXCLUDES the last index entered in the slicing command, for the rows...
dd=dfa_array[1:3,:2]#...and the columns
print('aa=',aa)
print('bb=',bb)
print('cc=',cc)
print('dd=',dd)

aa= -3.434661
bb= [-3.434661 -3.20277]
cc= [['Aberdeen' -2.10272 57.14548]
 ['Inverness' -4.224721 57.477772]]
dd= [['Edinburgh' -3.20277]
 ['Aberdeen' -2.10272]]