<a href="https://colab.research.google.com/github/lucilesepa/training_python/blob/main/task_indexingslicing_answers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Copy paste this into colab as code, and convert into a pandas dataframe that you call dfa:
```
cool_data = [['Perth',-3.434661,56.395336], ['Edinburgh', -3.20277, 55.95415], ['Aberdeen', -2.10272, 57.14548],['Inverness',-4.224721,57.477772]]
```

In [2]:
cool_data = [['Perth',-3.434661,56.395336], ['Edinburgh', -3.20277, 55.95415], ['Aberdeen', -2.10272, 57.14548],['Inverness',-4.224721,57.477772]]
import pandas as pd
dfa = pd.DataFrame(cool_data)
print(dfa)

           0         1          2
0      Perth -3.434661  56.395336
1  Edinburgh -3.202770  55.954150
2   Aberdeen -2.102720  57.145480
3  Inverness -4.224721  57.477772

2. Extract the values of the first column and store them in a variable called a

In [9]:
a=dfa[0]

3. Extract the first 2 values of the second row into a variable called b

In [10]:
b=dfa.loc[1][:2]

4. Add the column headers 'Locations', 'E' and 'N' to the 1st, 2nd and 3rd columns, call this new dataframe dfa2

In [11]:
dfa2 = pd.DataFrame(cool_data,columns=['Locations','E','N'])

5. Extract the last value of the locations in dfa2 - you should not need to google it, but you will see in home exercises more elegant ways to do it

In [12]:
dfa2['N'][1:4]

1    55.954150
2    57.145480
3    57.477772
Name: N, dtype: float64

6. Extract the last value of the locations in dfa2

In [14]:
dfa2['Locations'][-1:]

3    Inverness
Name: Locations, dtype: object

7. Extract the last 3 values of the Easting in dfa2

In [15]:
dfa2['E'][-3:]

1   -3.202770
2   -2.102720
3   -4.224721
Name: E, dtype: float64

8. Convert cool_data as a numpy array ar

In [16]:
cool_data = [['Perth',-3.434661,56.395336], ['Edinburgh', -3.20277, 55.95415], ['Aberdeen', -2.10272, 57.14548],['Inverness',-4.224721,57.477772]]
import numpy as np
ar = np.array(cool_data)

9. Extract the values of 2nd column from ar

In [17]:
a=ar[:,1]

10. Extract the 2nd to 4th values of the first row from ar

In [18]:
b=ar[0,1:4]

11. Extract the first 3 values of the last two columns from ar

In [19]:
c=ar[:3,-2:]