<a href="https://colab.research.google.com/github/lucilesepa/training_python/blob/main/task_forif.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# for loop: method 1

General structure: 
```
for i in n:
  statement block
```
- note the ```:``` and the indent before the statement- block

Let's work with an example:
We go through the values of a numpy 1D array and display them

In [29]:
import numpy as np
ar=np.array([40,70,120,32])

for i in ar:
  print(i)

40
70
120
32

# for loop: method 2

General structure: 
```
for i in range(m):
  statement block
```
Let's work with the same example:
We do the same as before: we go through the values of a numpy 1D array and display them

In [17]:
import numpy as np
ar=np.array([40,70,120,32])

print('ar[j]=')
for j in range(4):
  print(ar[j])

print('______________________')

print('j=')
for j in range(len(ar)):
  print(j)

ar[j]=
40
70
120
32
______________________
j=
0
1
2
3


1. Copy paste this into colab as code
```
cool_string = 'I love python'
```
2. Display in succession each character. 
The result should be:

```
I
 
l
o
v
e
 
p
y
t
h
o
n

```

3. Display in succession the 1st character, then the 1st and 2nd, etc..., with method 1. The result should be:

```
I
I 
I l
I lo
I lov
I love
I love 
I love p
I love py
I love pyt
I love pyth
I love pytho
I love python
```
4. Same as 3. but with method 2

In [58]:
print('2. display in succession each character')
cool_string = 'I love python'
for i in cool_string:
  print(i)

print('_______________________')
print('3. display in succession the 1st character, then the 1st and 2nd, etc..., method 1 ')
x=0
for i in cool_string:
  x=x+1
  print(cool_string[:x])

print('_______________________')
print('4. display in succession the 1st character, then the 1st and 2nd, etc..., method 2 ')
for i in range(len(cool_string)):
  print(cool_string[:i+1])

# this will be home exercise. needs float() and np.append()

print('1. numpy array')
cool_data = [['Perth',-3.434661,56.395336], ['Edinburgh', -3.20277, 55.95415], ['Aberdeen', -2.10272, 57.14548],['Inverness',-4.224721,57.477772]]

import numpy as np
ar=np.array(cool_data)

print(ar)

print('_______________________')
print('2. Remove 1 degree to the Easting coordinates , method 1 ')
ab=np.array([])
for i in ar[:,1]:
  print(i)
  ab=np.append(ab,float(i)-1)
ar[:,1] = ab
print(ar)

# to complete
print('_______________________')
print('2. Remove 1 degree to the Easting coordinates , method 2 ')

_______________________
1. display in succession each character
I

l
o
v
e

p
y
t
h
o
n
_______________________
2. display in succession the 1st character, then the 1st and 2nd, etc..., method 1
I
I
I l
I lo
I lov
I love
I love
I love p
I love py
I love pyt
I love pyth
I love pytho
I love python
_______________________
3. display in succession the 1st character, then the 1st and 2nd, etc..., method 2
I
I
I l
I lo
I lov
I love
I love
I love p
I love py
I love pyt
I love pyth
I love pytho
I love python
1. numpy array
[['Perth' '-3.434661' '56.395336']
 ['Edinburgh' '-3.20277' '55.95415']
 ['Aberdeen' '-2.10272' '57.14548']
 ['Inverness' '-4.224721' '57.477772']]
_______________________
2. Remove 1 degree to the Easting coordinates , method 1
-3.434661
-3.20277
-2.10272
-4.224721
[['Perth' '-4.434661' '56.395336']
 ['Edinburgh' '-4.20277' '55.95415']
 ['Aberdeen' '-3.10272' '57.14548']
 ['Inverness' '-5.224721' '57.477772']]
_______________________
2. Remove 1 degree to the Easting coordinates , method 2

In [35]:
print(type(i))

<class 'float'>