<a href="https://colab.research.google.com/github/lucilesepa/training_python/blob/main/task_variables_answers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.   Create a variable ```a``` that is equal to 2

In [1]:
a=2

2.   Create a variable ```b``` that is equal to 3.1 (try operations!)

In [2]:
b=a+1.2

3.   Create a variable ```c``` that is the town where your office is (or invent it)

In [3]:
c='Timbuktu'

4.   What does ```print(variable_name)``` do? Try out ```print('some text',variable_name)```

In [6]:
print('it displays what s in the brackets in the results when the code is run')
print(a,' ',b,' ',c)

it displays what s in the brackets in the results when the code is run
2   3.2   Timbuktu

5.   What does ```type(variable_name)``` do? Try it for ```a```, ```b```, ```c```

In [7]:
print('it returns the type of the variable')
print('type(a)=',type(a))
print('type(b)=',type(b))
print('type(c)=',type(c))

it returns the type of the variable
type(a)= <class 'int'>
type(b)= <class 'float'>
type(c)= <class 'str'>