<a href="https://colab.research.google.com/github/lucilesepa/training_python/blob/main/task_forif_answers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 1. Copy paste this into colab as code

In [2]:
cool_string = 'I love python'

2. Display in succession each character

In [3]:
for i in cool_string:
  print(i)

I

l
o
v
e

p
y
t
h
o
n

3. Display in succession the 1st character, 2nd, etc..., method 1

In [12]:
x=0
for i in cool_string:
  print(cool_string[:x])
  x=x+1

I
I
I l
I lo
I lov
I love
I love
I love p
I love py
I love pyt
I love pyth
I love pytho

4. Display in succession the 1st character, then the 1st and 2nd, etc..., method 2

In [5]:
for i in range(len(cool_string)):
  print(cool_string[:i+1])

I
I
I l
I lo
I lov
I love
I love
I love p
I love py
I love pyt
I love pyth
I love pytho
I love python

5. Copy past this in code

In [6]:
a = [-10,1,0,4,-3,4.5,6,1,34,-23,-4,0]

6. Display the text : "There is a positive value:" and the value when positive, "There is a negative value:" and the value, when negative, "There is a null value:" and the value, when 0

In [7]:
for i in a:
  if i>0:
    print('There is a positive value: ',i)
  elif i<0:
    print('There is a negative value: ',i)
  else:
    print('There is a null value: ',i)

There is a negative value:  -10
There is a positive value:  1
There is a null value:  0
There is a positive value:  4
There is a negative value:  -3
There is a positive value:  4.5
There is a positive value:  6
There is a positive value:  1
There is a positive value:  34
There is a negative value:  -23
There is a negative value:  -4
There is a null value:  0

7. Display the text: "There is a non null value:" and the value, when the value is non null, and the text : "There is a null value", and the value, when null.

In [8]:
for i in a:
  if i!=0:
    print('There is a non null value: ',i)
  else:
    print('There is a null value: ',i)

There is a non null value:  -10
There is a non null value:  1
There is a null value:  0
There is a non null value:  4
There is a non null value:  -3
There is a non null value:  4.5
There is a non null value:  6
There is a non null value:  1
There is a non null value:  34
There is a non null value:  -23
There is a non null value:  -4
There is a null value:  0

8. Display the text: "There is a value you are after: " and the value when the value is positive and smaller or equal to 4

In [9]:
for i in a:
  if i>0 and i<=4:
    print('There is a value you are after: ',i)

There is a value you are after:  1
There is a value you are after:  4
There is a value you are after:  1