<a href="https://colab.research.google.com/github/lucilesepa/training_python/blob/main/task_indexingslicing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# From a pandas dataframe

Calls the values of the column c: ```dfa[c]```or with the name col_header:```dfa['col_header']```. The result is a 1D panda dataframe, called a panda dataserie

Calls the values of the row r:```dfa.loc[r]```. The result is a 1D panda dataframe, called a panda dataserie

Calls the value m+1 of a 1D panda dataserie: ```ds[m]```

Calls the first n values of a 1D panda dataserie: ```ds[:n]```

Calls the q+1 to r values of a 1D panda dataserie: ```ds[q:r]```

1. Copy paste this into colab as code, and convert into a pandas dataframe that you call dfa:
```
cool_data = [['Perth',-3.434661,56.395336], ['Edinburgh', -3.20277, 55.95415], ['Aberdeen', -2.10272, 57.14548],['Inverness',-4.224721,57.477772]]
```
2. Extract the values of the first column and store them in a variable called a

3. Extract the first 2 values of the second row into a variable called b

4. Add the column headers 'Locations', 'E' and 'N' to the 1st, 2nd and 3rd columns, call this new dataframe dfa2

5. Extract the 2nd to 4th Northing values

6. *Not too easy*: extract the last value of the locations in dfa2 - you should not need to google it, but you will see in home exercises more elegant ways to do it

7. *Not too easy*: extract the last 2 values of the eastings in dfa2 - you should not need to google it, but you will see in home exercises more elegant ways to do it

In [4]:
print('1. cool_data as dataframe dfa')
cool_data = [['Perth',-3.434661,56.395336], ['Edinburgh', -3.20277, 55.95415], ['Aberdeen', -2.10272, 57.14548],['Inverness',-4.224721,57.477772]]
import pandas as pd
dfa = pd.DataFrame(cool_data)
print(dfa)

print('________________________________')
print('2. values of 1st column')
a=dfa[0]
print(a)

print('________________________________')
print('3. first 2 values of the second row')
b=dfa.loc[1][:2]
print(b)

print('________________________________')
print('4. dfa2')
dfa2 = pd.DataFrame(cool_data,columns=['Locations','E','N'])
print(dfa2)

print('________________________________')
print('5.2nd to 4th Northing values')
print(dfa2['N'][1:4])

print('________________________________')
print('6. last value of the locations in dfa2')
print(dfa2['Locations'][len(dfa2['Locations'])-1])

print('________________________________')
print('7. last 3 values of the Easting')
print(dfa2['E'][len(dfa2['E'])-3:])

1. cool_data as dataframe dfa
           0         1          2
0      Perth -3.434661  56.395336
1  Edinburgh -3.202770  55.954150
2   Aberdeen -2.102720  57.145480
3  Inverness -4.224721  57.477772
________________________________
2. values of 1st column
0        Perth
1    Edinburgh
2     Aberdeen
3    Inverness
Name: 0, dtype: object
________________________________
3. first 2 values of the second row
0    Edinburgh
1     -3.20277
Name: 1, dtype: object
________________________________
4. dfa2
   Locations         E          N
0      Perth -3.434661  56.395336
1  Edinburgh -3.202770  55.954150
2   Aberdeen -2.102720  57.145480
3  Inverness -4.224721  57.477772
________________________________
5.2nd to 4th Northing values
1    55.954150
2    57.145480
3    57.477772
Name: N, dtype: float64
________________________________
6. last value of the locations in dfa2
Inverness
________________________________
7. last 3 values of the Locations
1   -3.202770
2   -2.102720
3   -4.224721
Name: E, dtype: float64

# From a numpy array

Calls the value located in row r+1, column c+1: ```array[r,c]```

Calls the values located in row r+1, and between the mx+1 and my+1 :```array[r,mx:my]```

Calls the first n+1 rows in all the columns: ```array[:n,:]```

Calls the first p-1 values of a 1D panda dataserie: ```ds[p:]```

1. copy paste this into colab as code, and convert into a pandas dataframe that you call dfa:
```
cool_data = [['Perth',-3.434661,56.395336], ['Edinburgh', -3.20277, 55.95415], ['Aberdeen', -2.10272, 57.14548],['Inverness',-4.224721,57.477772]]
```
2. extract the values of the first column and store them in a variable called a

3. extract the first 2 values of the second row into a variable called b

4. add the column headers 'Locations', 'E' and 'N' to the 1st, 2nd and 3rd columns, call this new dataframe dfa2

5. extract the last value of the locations in dfa2 - you should not need to google it, but you will see in home exercises more elegant ways to do it