<a href="https://colab.research.google.com/github/lucilesepa/training_python/blob/main/task_indexingslicing_answers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
print('1. cool_data as dataframe dfa')
cool_data = [['Perth',-3.434661,56.395336], ['Edinburgh', -3.20277, 55.95415], ['Aberdeen', -2.10272, 57.14548],['Inverness',-4.224721,57.477772]]
import pandas as pd
dfa = pd.DataFrame(cool_data)
print(dfa)

print('________________________________')
print('2. values of 1st column')
a=dfa[0]
print(a)

print('________________________________')
print('3. first 2 values of the second row')
b=dfa.loc[1][:2]
print(b)

print('________________________________')
print('4. dfa2')
dfa2 = pd.DataFrame(cool_data,columns=['Locations','E','N'])
print(dfa2)

print('________________________________')
print('5.2nd to 4th Northing values in dfa2')
print(dfa2['N'][1:4])

print('________________________________')
print('6. last value of the locations in dfa2')
print(dfa2['Locations'][-1:])

print('________________________________')
print('7. last 3 values of the Easting in dfa2')
print(dfa2['E'][-3:])

print('________________________________')
print('8. cool_data as dataframe dfa')
cool_data = [['Perth',-3.434661,56.395336], ['Edinburgh', -3.20277, 55.95415], ['Aberdeen', -2.10272, 57.14548],['Inverness',-4.224721,57.477772]]
import numpy as np
ar = np.array(cool_data)
print(ar)

print('________________________________')
print('9. values of 2nd column')
a=ar[:,1]
print(a)

print('________________________________')
print('10. 2nd to 4th values of the first row')
b=ar[0,1:4]
print(b)

print('________________________________')
print('11. first 3 values of the last two columns')
c=ar[:3,-2:]
print(c)

1. cool_data as dataframe dfa
           0         1          2
0      Perth -3.434661  56.395336
1  Edinburgh -3.202770  55.954150
2   Aberdeen -2.102720  57.145480
3  Inverness -4.224721  57.477772
________________________________
2. values of 1st column
0        Perth
1    Edinburgh
2     Aberdeen
3    Inverness
Name: 0, dtype: object
________________________________
3. first 2 values of the second row
0    Edinburgh
1     -3.20277
Name: 1, dtype: object
________________________________
4. dfa2
   Locations         E          N
0      Perth -3.434661  56.395336
1  Edinburgh -3.202770  55.954150
2   Aberdeen -2.102720  57.145480
3  Inverness -4.224721  57.477772
________________________________
5.2nd to 4th Northing values in dfa2
1    55.954150
2    57.145480
3    57.477772
Name: N, dtype: float64
________________________________
6. last value of the locations in dfa2
3    Inverness
Name: Locations, dtype: object
________________________________
7. last 3 values of the Easting in dfa2
1   -3.202770
2   -2.102720
3   -4.224721
Name: E, dtype: float64
________________________________
8. cool_data as dataframe dfa
[['Perth' '-3.434661' '56.395336']
 ['Edinburgh' '-3.20277' '55.95415']
 ['Aberdeen' '-2.10272' '57.14548']
 ['Inverness' '-4.224721' '57.477772']]
________________________________
9. values of 2nd column
['-3.434661' '-3.20277' '-2.10272' '-4.224721']
________________________________
10. 2nd to 4th values of the first row
['-3.434661' '56.395336']
________________________________
11. first 3 values of the last two columns
[['-3.434661' '56.395336']
 ['-3.20277' '55.95415']
 ['-2.10272' '57.14548']]