<a href="https://colab.research.google.com/github/lucilesepa/training_python/blob/main/task_variables1D_answers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
print('_______________________')
print('1. Create the lists *a* that contains the values 1, 5, 10, *b* that contains -10, 0, 4, and *c* that contains the strings of characters m,n,o.')   
a = [1,2,10]
b = [-10,0,4]
c = ['m','n','o']

print('_______________________')
print('2. Try out what you know: operations, type() and print()')   
d = a+b
type(a)
type(c)
print('a=',a,'and a+b=',d)
print('you can see that arithmetic operations are not possible on lists. the operand + simply concatenates')

print('_______________________')
print('3. Now also try out len(variable_name). What does it do?')   

print('len(a) displays the length (the number of elements) of the variable a, which is ', len(a))

print('_______________________')
print('4.  Create a numpy array, and Repeat tasks 1. 2. 3. (give different variable names!)')   
import numpy as np
a_as_array = np.array(a)
b_as_array = np.array(b)
c_as_array = np.array(c)
d_as_array = a_as_array+b_as_array
print('type(a_as_array)=',type(a_as_array))
print('a_as_array=',a_as_array,'and a_as_array+b_as_array=',d_as_array)

print('_______________________')
print('5. Create a dataframe, and Repeat tasks 1. 2. 3. (give different variable names!)')   
import pandas as pd
a_as_df = pd.DataFrame(a)
b_as_df = pd.DataFrame(b)
c_as_df = pd.DataFrame(c)
d_as_df = a_as_array+b_as_array
print('type(a_as_df)=',type(a_as_df))
print('a_as_df=')
print(a_as_df)
print('and a_as_df+b_as_df=')
print(d_as_df)

_______________________
1. Create the lists *a* that contains the values 1, 5, 10, *b* that contains -10, 0, 4, and *c* that contains the strings of characters m,n,o.
_______________________
2. Try out what you know: operations, type() and print()
a= [1, 2, 10] and a+b= [1, 2, 10, -10, 0, 4]
you can see that arithmetic operations are not possible on lists. the operand + simply concatenates
_______________________
3. Now also try out len(variable_name). What does it do?
len(a) displays the length (the number of elements) of the variable a, which is  3
_______________________
4.  Create a numpy array, and Repeat tasks 1. 2. 3. (give different variable names!)
type(a_as_array)= <class 'numpy.ndarray'>
a_as_array= [ 1  2 10] and a_as_array+b_as_array= [-9  2 14]
_______________________
5. Create a dataframe, and Repeat tasks 1. 2. 3. (give different variable names!)
type(a_as_df)= <class 'pandas.core.frame.DataFrame'>
a_as_df=
    0
0   1
1   2
2  10
and a_as_df+b_as_df=
[-9  2 14]